.zoom-in-out-box {
  width: 100px;
  height: 100px;
  background-image: url(assets/tennis-ball.svg);
  animation: zoom-in-zoom-out 1s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    scale: 100%
  }
  50% {
    scale: 150%;
  }
  100% {
    scale: 100%;
  }
}